:root {
  --main-bg-color: #4143b1;
  --second-bg-color: #221727;
  --second-bg-color-t: rgba(34, 23, 39, 0.8);
  --highlight-color: #5ef4d6;
  --highlight2-color: #24e5a3;
  --w-color: #f1fff6;
  --main-font: 'Viga', sans-serif;
  --second-font: 'Rubik', sans-serif;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}



footer{
  position: fixed;
  bottom:0px;
  width:100%;
  height:47%;
  background-color: var(--second-bg-color)

}

.wrapper{
  margin-top:50px;
  margin-left: 80px;
  width:85%;
  
}

.container{
 
  display:flex;
  text-align: center;
  width:auto;
  justify-content:space-between;
  flex-wrap: wrap;
  font-family: var(--main-font);
}

.container .cards  {
  
   height: 100% ;
   width: 70px;
   display: flex;
   flex-direction: column;
  
  
  
}

.container .cards .fa {
   margin-bottom: 10px;
   border:solid 2px var(--highlight-color);
   border-radius: 50%;
   font-size: 250%;
   color:var(--highlight-color);
}

.container .cards h2{
    position: relative;
    bottom:20px;
    left:100%;
    margin-left: 10px;
    font-size: 20px;
    font-family: var(--second-font);
}


.container .cards2 {
width:30%;
height:100%;
margin-top: 20px;
display: flex;
flex-direction: column;
justify-content: center;
line-height:60px;


}
.container .cards2 h2{
position:relative;
top:20px;
color: var(--w-color);
font-size: 10px;
}


.container .cards2  .mint{
    height: 40px
}

.container .cards2  p{
    color: var(--w-color);   
    position:relative;
    top:40px;
}


.container .cards3 h2  {
  width: 120px;
  height: 50px;
  margin-top: 10px;
  margin-right: 15px;
  font-family: var( --second-font);
  color: var(--highlight-color)
 
}